// Header widgets styles
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

@import "../_stylebase.scss";

.header {
  height: $header_height;
  text-align: center;
  padding-top: $gutter * 2;
}
