// Page widgets styles
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

@import "../_stylebase.scss";

.page {
  position: relative;

  &, main {
    height: 100vh;
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  &--center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__message {
    margin-top: -10%;

    @include xs {
      margin-top: -20%;
    }
  }

  h1,
  h3 {
    margin: 0;
  }
}
