// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Paths
$image_path_root: "assets/images/";

$mocks_path: "mocks/";


// Sizes
//////////////////////////////////////////////////////

$gutter: 20px;

$border-width: 2px;


// Elements
//////////////////////////////////////////////////////


// Buttons

$btn_border-radius: 10px;

$btn_height: 70px;


// Inputs

$input_height: 70px;


// Views
//////////////////////////////////////////////////////

$loader_size_default: 100px;

$storage-message_height: 80px;

$header_height: 100px;


// Layouts
//////////////////////////////////////////////////////

$layout_modal: 2500;
$layout_fixed: 2000;
$layout_popups: 1500;
$layout_content: 1000;


// Effects
//////////////////////////////////////////////////////

$fade: 0.2;
$fade-percent: 8%;

$shadows_coords_x: 0;
$shadows_coords_y: 0;
$shadows_size: 10px;
$shadows_stretch: 0;

$transition_duration: 0.2s;
$transition_timing-function: ease-in-out;
$transition_delay: 0s;

$animation_duration: $transition_duration * 3;


// Colors
//////////////////////////////////////////////////////

// Palette

$color_white: #fff;
$color_black: #000;

$color_primary: #b0b2f0;

$color_second: #d930aa;


// Grays

$color_gray_lighter: #fafafa;


// Text

$color_text: #575757;


// Links

$color_link: $color_primary;
$color_link-hover: darken(#44529c, $fade);


// Borders and shadows

$color_border: #dadada;

$color_shadows: $color_black;


// Functional

$color_placeholder: $color_border;


// Breackpoints and containers
//////////////////////////////////////////////////////

// Extra small screen / XS / phone
$breackpoint_min:                 320px;

$breackpoint_xs:                  359px;

// Small screen / SM / tablet
$breackpoint_sm:                  768px;
$breackpoint_sm_min:              $breackpoint_sm;

// Medium screen / MD desktop / нетбуки типо чтоле
$breackpoint_md:                  1025px;
$breackpoint_md_min:              $breackpoint_md;

// Large screen / LG desktop / небольшие экраны - ноуты
$breackpoint_lg:                  1240px;
$breackpoint_lg_min:              $breackpoint_lg;

$breackpoint_xs_max:              ($breackpoint_sm_min - 1);
$breackpoint_sm_max:              ($breackpoint_md_min - 1);
$breackpoint_md_max:              ($breackpoint_lg_min - 1);
