// Resize control
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

@import "../../_stylebase.scss";

.resize {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  @include size(100%, 100%);

  > div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    @include size(100%, 100%);
  }
}
