// Storage-message
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

@import "../../_stylebase.scss";

.storage-message {
  height: $storage-message__height;
  color: $colors--white;
  background: $colors--black;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $layouts__modal + 100;

  .container {
    display: flex;
    flex-direction: row;
  }

  &__text {
    display: flex;
    align-items: center;
    padding-right: $gutter * 2;
    @include text($font-family__sans, 20px, $font-weight__sans__regular);
    line-height: 23px;
  }

  .btn {
    white-space: nowrap;
  }
}
