// Elements
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Links
a {
  text-decoration: none;
  @include link-color($color_link, $color_link-hover);
}


// Controls

input {
  height: $input_height;
  border-radius: $border-radius_base;
  padding: 0 ($gutter / 2);
  @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);

  &:focus {
    border-color: $color_primary;
  }
}

textarea {
  width: 100%;
  max-width: 100%;
}


// Lists
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}