// App common widgets styles
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

.page-center {
  height: 100%;
  background: $color_gray_lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .message {
    margin-top: -10%;

    @include xs {
      margin-top: -20%;
    }
  }

  h1,
  h3 {
    margin: 0;
  }
}
